/* COLOUR */

:root {
  --clr-text-heading: var(--sea-pink-800);
  --clr-text-body: var(--dorado-700);
  --clr-surface: transparent;
  --clr-dropshadow: 2px 4px 8px var(--dorado-100);
}

[data-theme="sidebar"] {
  --clr-text-heading: var(--sea-pink-50);
  --clr-text-body: var(--sea-pink-50);
  --clr-surface: var(--sea-pink-800);
}

body {
  color: var(--clr-text-body);
  background: var(--clr-surface);

  * {
    color: var(--clr-text-body);
    background: var(--clr-surface);
  }

  h1,
  h2,
  h3 {
    color: var(--clr-text-heading);
  }
}

section {
  width: min(100%, 800px);
  border-radius: 1rem;
  min-height: 500px;
  box-shadow: var(--clr-dropshadow);
  overflow: clip;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  width: 80%;

  input {
    color: inherit;
    transition: opacity 0.15s ease-in;
    --clr-input-border: var(--dorado-50);
  }

  &:hover input {
    opacity: 0.6;
    border-bottom: 1px solid var(--dorado-50);
  }
}

aside {
  --padding: min(6svw, 3rem);
  display: grid;
  padding-block: var(--padding);
  padding-inline-start: var(--padding);
  --clr-input-border: var(--sea-pink-200);
  --clr-input-placeholder: var(--sea-pink-500);

  menu li {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: 0.1s ease-in;

    &.active,
    &:not(:has(input)):hover {
      font-weight: 500;
      background: white;
      color: var(--sea-pink-800);
      border-radius: 0.25rem 0 0 0.25rem;
      cursor: pointer;
    }
  }

  button#mobileNav {
    display: none;
    margin-inline-end: var(--padding);
    cursor: pointer;
    svg {
      width: 1.5rem;
      path {
        fill: var(--clr-text-body);
      }
    }
  }

  button#addList {
    place-self: end start;
    transition: scale 0.15s ease-in;

    &:hover {
      scale: 1.05;
    }

    span.addListMobile {
      display: none;
    }
  }
}

article {
  padding: min(5svw, 3rem);
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

ul.tasks {
  --flow-space: 0.5rem;
  display: grid;
  --clr-input-border: var(--dorado-50);
  --clr-input-placeholder: var(--dorado-300);

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    fieldset,
    fieldset input,
    fieldset label {
      cursor: pointer;
    }

    fieldset input[type="checkbox"]:checked + label::before {
      background: var(--sea-pink-500) url("../checkmark.svg");
      background-size: 75%;
      background-position: 50%;
      background-repeat: no-repeat;
      border: none;
    }

    &:has(input[type="checkbox"]:checked) {
      order: 2;
      label {
        color: var(--dorado-200);
        text-decoration: line-through;
      }
    }

    menu {
      display: flex;
      gap: 1rem;
      margin: 0;

      li {
        cursor: pointer;

        &:hover svg {
          fill: var(--dorado-300);
        }
        svg {
          width: 1rem;
          cursor: pointer;
          fill: var(--dorado-100);
          pointer-events: none;
        }
      }
    }
  }

  li:has(#addTask) {
    order: 1;
    margin-block-start: 0.75rem;

    ul.tasks:has(input[type="checkbox"]:checked) & {
      margin-block: 0.75rem 1.5rem;
    }

    input {
      width: 80%;
      cursor: pointer;
    }
  }
}

#deleteList {
  place-self: end;

  svg {
    width: 1.5rem;
    path {
      fill: var(--sea-pink-700);
    }
  }
}

label,
li:has(#editTask) {
  display: flex;
  align-items: center;
  gap: min(1svw, 1rem);
}

label::before {
  --size: 1rem;
  display: block;
  content: "";
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--dorado-200);
  border-radius: 0.15rem;
}

label:hover::before {
  border: 1px solid var(--sea-pink-200);
  box-shadow: 1px 1px 4px var(--dorado-50);
}

input[type="text"] {
  width: 100%;
  &:focus,
  &:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--clr-input-border);
    padding-block: 0.25rem;
  }
  &::placeholder {
    color: var(--clr-input-placeholder);
  }
}

input[type="checkbox"] {
  display: none;
}

/* MOBILE COLLAPSIBLE NAV */

@media (max-width: 480px) {
  /* SIDEBAR CLOSED */

  aside menu {
    display: none;
  }

  aside:has(menu:not(.active)) {
    button {
      display: block;

      &#mobileNav {
        place-self: start center;
      }

      &#addList {
        place-self: end center;
        margin-inline-end: min(6svw, 3rem);

        span.addListDesktop {
          display: none;
        }
        span.addListMobile {
          display: block;
          font-size: 2rem;
        }
      }
    }

    button#addList {
      display: block;
    }
  }

  aside button#mobileNav {
    display: block;
    place-self: start;

    aside:has(menu.active) & {
      display: none;
    }
  }

  /* SIDEBAR ACTIVE */
  aside menu.active {
    display: block;
  }

  section:has(menu.active) {
    grid-template-columns: 85% 1fr;

    aside {
      grid-column: 1;
      width: 85%;
      z-index: 1;

      & + article {
        grid-column: 1 / -1;
      }
    }
  }
}
